/* VAIRABLES TO CUSTOMIZE */
/*
* @boxes-per-row
*/

$red = #c41230
// $green = #8dc63f
$green = #96b45a
$blue = #13b5ea
// $orange = #fdbb30
// $orange = #6E9B9A
$orange = #9EBDBC
$gray = #666


boxes-per-row = 5

size = ((100 / boxes-per-row) + 0%)

$space = 1rem
$space-small = $space / 2
$space-micro = $space / 4