/* VAIRABLES TO CUSTOMIZE */
/*
* @boxes-per-row
*/

boxes-per-row = 5
size-arrow = 20px
primary = rgb(147, 99, 194, 1)
background-board = rgb(166, 163, 163, 1)
background-default = rgb(255, 255, 255, 1)
background-active = rgb(30, 144, 255, 1)
background-start = rgb(236, 191, 65, 1)
background-end = primary
background-danger = rgb(253, 116, 116, 1)

size = ((100 / boxes-per-row) + 0%)

$space = 1rem