html
  head
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='StyleSheet', href='style.css', type='text/css', media='screen')
    link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
  body
    .app-container
      h1.title Life at RMS
      .board
        // Top Row
        .top
          section.active.top(data-id='dayOneWelcome')
            .place Welcome
            //- i.fa.fa-arrow-right
            <img class="fa" src="90 Days icons/welcome.png" height="70px">
            //- .price Orientation Video
          section.top(data-id='PSF')
            .place People Strategy Forms
            //- i.fa.fa-money
            <img class="fa" src="90 Days icons/people strategy forms.png" height="70px">
            .price 
          section.top(data-id="BusinessCards")
            .place New Business Cards
            //- i.fa.fa-rocket
            <img class="fa" src="90 Days icons/business cards.png" height="70px">
            .price 
          section.top(data-id="WritingStyleGuide")
            .place Corporate Writing Style Guide
            //- i.fa.fa-user
            <img class="fa" src="90 Days icons/writing guide.png" height="70px">
            .price 
          section.no-dir.end.top(data-id="Acronyms")
            .place Acronyms 
            //- i.fa.fa-trophy
            <img class="fa" src="90 Days icons/acronyms.png" height="70px">
            .price 
            i.fa.fa-money
            .price   
        .sides
          // Right Row
          .side.right
            section.right
              .place RMS ACADEMY/LEARNING CENTER
              //- i.fa.fa-question
              <img class="fa" src="90 Days icons/RMS-Academy.png" height="70px">
              .price 
            section.right
              .place BOOKS 24X7
              //- i.fa.fa-gbp
              <img class="fa" src="90 Days icons/book24x7.png" height="70px">
              .price
            section.right
              .place C.D.TOOLKIT
              //- i.fa.fa-warning
              <img class="fa" src="90 Days icons/toolkit.png" height="70px">
              .price 
            section.right
              .place CCRA
              //- i.fa.fa-star
              <img class="fa" src="90 Days icons/ccra.png" height="70px">
              .price 
            section.right
              .place NEW GRAD TRAINING
              //- i.fa.fa-shield
              <img class="fa" src="90 Days icons/New grad training.png" height="70px">
              .price   
          // Left Row
          .side.left
            section.left
              .place LINKS & SOCIAL MEDIA
              //- i.fa.fa-question
              <img class="fa" src="90 Days icons/links.png" height="70px">
              .price 
            section.left
              .place FAQS
              //- i.fa.fa-gbp
              <img class="fa" src="90 Days icons/FAQ.png" height="70px">
              .price 
            section.left.danger
              .place WEBINARS/VIDS
              //- i.fa.fa-warning
              <img class="fa" src="90 Days icons/webinars.png" height="70px">
              .price 
            section.left
              .place ORACLE
              //- i.fa.fa-star
              <img class="fa" src="90 Days icons/oracle.png" height="70px">
              .price
            section.left.start
              .place CSR
              //- i.fa.fa-shield
              <img class="fa" src="90 Days icons/csr.png" height="70px">
              .price 
              i.fa.fa-question
              .price    
        // Top Row
        .bottom
          section.active.bottom
            .place US
            //- i.fa.fa-arrow-up
            <img class="fa" src="90 Days icons/USA.png" height="70px">
            .price
          section.bottom
            .place UK
            //- i.fa.fa-money
            <img class="fa" src="90 Days icons/UK.png" height="70px">
            .price 
          section.bottom
            .place INDIA
            //- i.fa.fa-rocket
            <img class="fa" src="90 Days icons/India.png" height="70px">
            .price 
          section.bottom
            .place ASIA/PACIFIC
            //- i.fa.fa-user
            <img class="fa" src="90 Days icons/asia.png" height="70px">
            .price 
          section.no-dir.end.bottom
            .place EMPLOYEE EXP
            //- i.fa.fa-trophy
            <img class="fa" src="90 Days icons/employee exp.png" height="70px">
            .price 
            i.fa.fa-arrow-up
            .price   
      .modal
        .modal-content Hello! This is an awesome model message.
    script(src='js/app.js')
