html
  head
    link(rel='StyleSheet', href='style.css', type='text/css', media='screen')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
  body
    .app-container
      h1 Your first 90 Days with RMS
      .board
        // Top Row
        .top
          section.active.right
            .place Day 1
            i.fa.fa-arrow-right
            .price 2015 Company Holidays
          section.right
            .place Day 1
            i.fa.fa-money
            .price HR Forms
          section.right
            .place Week 1
            i.fa.fa-rocket
            .price Corporate Global Style Guide
          section.right
            .place Week 1
            i.fa.fa-user
            .price Benefits Checklist
          section.no-dir.end
            .place Month 1
            i.fa.fa-trophy
            .price US Benefits Enrollment
        .sides
          // Right Row
          .side.right
            section.up
              .place Month 1
              i.fa.fa-question
              .price US Benefits Enrollment
            section.left
              .place Month 1
              i.fa.fa-gbp
              .price Introduction to Insurance
            section.left.danger
              .place Month 3
              i.fa.fa-warning
              .price Internal Products
            section.left
              .place Month 3
              i.fa.fa-star
              .price Making an Impact
            section.left.start
              .place Month 3
              i.fa.fa-shield
              .price RMS Overview
          // Left Row
          .side.left
            section.up
              .place Month 1
              i.fa.fa-question
              .price US Benefits Enrollment
            section.left
              .place Month 1
              i.fa.fa-gbp
              .price Introduction to Insurance
            section.left.danger
              .place Month 3
              i.fa.fa-warning
              .price Internal Products
            section.left
              .place Month 3
              i.fa.fa-star
              .price Making an Impact
            section.left.start
              .place Month 3
              i.fa.fa-shield
              .price RMS Overview
        // Top Row
        .bottom
          section.active.right
            .place Day 1
            i.fa.fa-arrow-right
            .price 2015 Company Holidays
          section.right
            .place Day 1
            i.fa.fa-money
            .price HR Forms
          section.right
            .place Week 1
            i.fa.fa-rocket
            .price Corporate Global Style Guide
          section.right
            .place Week 1
            i.fa.fa-user
            .price Benefits Checklist
          section.no-dir.end
            .place Month 1
            i.fa.fa-trophy
            .price US Benefits Enrollment