html
  head
    //- link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='StyleSheet', href='style.css', type='text/css', media='screen')
    link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    
  body
    .app-container
      h1.title Life at RMS
      .board
        // Top Row
        .top
          section.active.top(data-id='dayOneWelcome')
            .place Welcome
            <img class="fa" src="90 Days icons/welcome.png" height="70px">
          section.top(data-id='FrequentlyReqInfo')
            .place Frequently Requested Info
            <img class="fa" src="90 Days icons/people strategy forms.png" height="70px">
          section.top(data-id="RMSLife")
            .place RMS & Life
            <img class="fa" src="90 Days icons/life-Culture.png" height="70px">
          section.top(data-id="RMSStyleGuide")
            .place RMS Style Guides
            <img class="fa" src="90 Days icons/writing guide.png" height="70px">
          section.no-dir.end.top(data-id="Acronyms")
            .place Acronyms 
            <img class="fa" src="90 Days icons/acronyms.png" height="70px">
        .sides
          // Right Row
          .side.right
            section.right(data-id="LearningCenter")
              .place RMS ACADEMY/LEARNING CENTER
              <img class="fa" src="90 Days icons/RMS-Academy.png" height="70px">
            section.right(data-id="Books24x7")
              .place BOOKS 24X7
              <img class="fa" src="90 Days icons/book24x7.png" height="70px">
            section.right(data-id="CDToolkit")
              .place Career Development Toolkit
              <img class="fa" src="90 Days icons/toolkit.png" height="70px">
            section.right(data-id="CCRA")
              .place CCRA
              <img class="fa" src="90 Days icons/ccra.png" height="70px">
            section.right(data-id="NewGrad")
              .place NEW GRAD TRAINING
              <img class="fa" src="90 Days icons/New grad training.png" height="70px">
          // Left Row
          .side.left
            section.left(data-id="Links")
              .place SOCIAL MEDIA
              <img class="fa" src="90 Days icons/links.png" height="70px">
            section.left(data-id="IT")
              .place IT
              <img class="fa" src="90 Days icons/FAQ.png" height="70px">
            section.left(data-id="Vids")
              .place WEBINARS/VIDEOS
              <img class="fa" src="90 Days icons/webinars.png" height="70px">
            section.left(data-id="Oracle")
              .place ORACLE
              <img class="fa" src="90 Days icons/oracle.png" height="70px">
            section.left.start(data-id="CSR")
              .place Corporate Social Responsibility 
              <img class="fa" src="90 Days icons/csr.png" height="70px"> 
        // Top Row
        .bottom
          section.bottom(data-id="US")
            .place USA and Bermuda
            <img class="fa" src="90 Days icons/USA.png" height="70px">
          section.bottom(data-id="Europe")
            .place Europe
            <img class="fa" src="90 Days icons/europe.png" height="70px">
          section.bottom(data-id="India")
            .place INDIA
            <img class="fa" src="90 Days icons/India.png" height="70px">
          section.bottom(data-id="Asia")
            .place ASIA/PACIFIC
            <img class="fa" src="90 Days icons/asia.png" height="70px">
          section.no-dir.end.bottom(data-id="EE")
            .place EMPLOYEE EXP
            <a href="http://insiderms.rms.com/Pages/Employee-Experience.aspx"><img class="fa" src="90 Days icons/employee exp.png" height="70px">
            </a>

      .modal
        .modal-content 
    script(src='js/app.js')
