
@import 'stylus/reset.styl'
@import 'stylus/vars.styl'
@import 'stylus/mixins.styl'

section-color-state($color)
  transition background .125s linear
  background lighten($color, 40%)
  border 2px solid $color
  &:hover
    background lighten($color, 80%)
  &:active
    background darken($color, 10%)
    color white

  .fa
    color darken($color, 40%)
      
body
  background #e2e2e2
  font-family 'Montserrat', sans-serif

  .title
    text-align: center;
    margin: 50px auto;
    font-family: Arial, Courier;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    text-shadow: 0px 2px 3px #666;
.app-container
  padding $space * 3
  position relative
  min-width 1100px

.board
  border $space-small solid $gray
  transform perspective(2500px) rotateX(50deg) translateY(-300px)
  width 90%
  margin-left auto
  margin-right auto
  border-radius 3rem
  overflow hidden
  box-shadow 0 $space-micro $space-micro rgba(black, .3)


  > .side, > .top, > .bottom
    position relative
    /*padding $space*/
    background-color $gray

  // Top and bottom side display
  > .top, > .bottom
    clearfix()

    section
      float left
      width size
           
  > .top
   border-bottom $space-small solid $gray

  > .bottom
   border-top $space-small solid $gray
   margin-top - $space-small

  .sides
    clearfix()
    margin-top - $space-small
    position relative
    z-index 1

  .side
    width 20%
    &.left
      border-right $space-small solid $gray
      float left
     
    &.right
      border-left $space-small solid $gray
      float right
      
  section
    box-sizing border-box
    padding $space $space-small
    min-width 10rem
    height 9rem
    text-align center
    cursor: pointer
    position relative
    box-shadow inset .1rem .1rem .1rem rgba(black, .2)

    .place, .price
      font-size .75rem
      text-transform uppercase
    .fa
      font-size 2.5rem
      padding $space 0

    &.top
      section-color-state($red)
      &:first-child
        border-top-left-radius 3rem
      &:last-child
        border-top-right-radius 3rem
    &.right
      section-color-state($green)
    &.bottom 
      section-color-state($blue)
      &:first-child
        border-bottom-left-radius 3rem
      &:last-child
        border-bottom-right-radius 3rem
    &.left 
      section-color-state($orange)


.modal
  display none
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  

// POPUP CONFIGURATION AND STYLING-------------------------------------------------------
.modal-content
  position absolute
  top 6rem
  left 50%
  width 40%
  transform translateX(-50%)
  height 47%
  padding $space
  // For background image, store file in an img folder or get img from inside rms
  // background: url(http://www.executive-i.com/picstore/hh/15_Risk%20Management%20Solutions%20jobs.jpg) no-repeat center
  background-color white
  text-align center
  box-shadow 0 $space-micro $space-micro rgba(black, .3)

  &.p 
    text-align center
  //Make pretty and make it animate in/out of view with css
    

// ANIMATIONS -----------------------------------------------------------------------------

.modal-content
  animation-name fadeIn
  animation-duration .5s

@keyframes fadeIn
  from
    opacity 0.5







